rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /hojas-dominicales/{archivo} {
      allow read: if true;
      allow write: if request.resource.size < 15 * 1024 * 1024
                   && request.resource.contentType == 'application/pdf';
    }
  }
}
